:root {
  --text-color: #ffffff;
}

.graph {
  background-color: #7fab9c;
  max-width: 700px;
  margin: auto;
  height: 400px;
}

.graph-top {
  background-color: #53767a;
  height: 10%;
  width: 100%;
  position: relative;
}

.graph-title {
  color: var(--text-color);
  text-align: center;
  font-size: 30px;
}

select {
  width: 100px;
  position: absolute;
  right: 20px;
  top: 10px;
}

.graph-data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 90%;
}

.graph-data-bar {
  height: 50%;
  width: 100px;
  border: 1px solid #7fab9c;
  align-self: flex-end;
  transition: background-color .5s;
}

.graph-data-bar:nth-child(odd) {
  background-color: #6d8d82;
}

.graph-data-bar:nth-child(even) {
  background-color: #6b9997;
}

.graph-data-bar-country-name {
  color: var(--text-color);
  text-align: center;
  font-size: 20px;
}

.graph-data-bar:hover {
  background-color: #5d807d;
}